*.swp
*.svg
*.jpg
*.mp4
*.png
*.log

.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

random/py3.8/lib/

data/



neuro/local/

