*.swp
*.svg
*.jpg
*.mp4
*.png
*.log
*.wav
*.pth
*.obj
*.gz
*.aux
*.csv
*.fdb_latexmk
package-lock.json
*model.pth

.vscode/
.ipynb_checkpoints/
__pycache__/


random/pythonstuff/viz/viz/

data/
runs/
node_modules/
neuro/local/
rust/rocket/
