*.swp
*.svg
*.jpg
*.mp4
*.png

.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/


data/



neuro/local/

